@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhangbenqizha2:before {
  content: "\e917";
  color: #6f7073;
}
.icon-fenbushizhangben2:before {
  content: "\e92a";
  color: #6f7073;
}
.icon-bushu:before {
  content: "\e940";
}
.icon-duxiang:before {
  content: "\e948";
}
.icon-fangcuangai:before {
  content: "\e949";
}
.icon-fanghuyinqing:before {
  content: "\e94a";
}
.icon-fangjiechi:before {
  content: "\e94b";
}
.icon-gongxiangzhangbenkj:before {
  content: "\e94e";
}
.icon-lijikaitong:before {
  content: "\e951";
}
.icon-quanwangfanghu:before {
  content: "\e955";
}
.icon-zhuangshuzhangbenkj:before {
  content: "\e959";
}
.icon-fengchaolian:before {
  content: "\e95a";
}
.icon-a1:before {
  content: "\e938";
}
.icon-a2:before {
  content: "\e939";
}
.icon-a3:before {
  content: "\e93a";
}
.icon-a4:before {
  content: "\e93b";
}
.icon-anquanqianbao:before {
  content: "\e93c";
  color: #6f7073;
}
.icon-b1:before {
  content: "\e93d";
}
.icon-b2:before {
  content: "\e93e";
}
.icon-b3:before {
  content: "\e93f";
}
.icon-c1:before {
  content: "\e941";
}
.icon-c2:before {
  content: "\e942";
}
.icon-c3:before {
  content: "\e943";
}
.icon-cj:before {
  content: "\e944";
}
.icon-d1:before {
  content: "\e945";
}
.icon-d2:before {
  content: "\e946";
}
.icon-DNSfanjiechi:before {
  content: "\e947";
  color: #6f7073;
}
.icon-gaoxiaogongshi:before {
  content: "\e94d";
  color: #6f7073;
}
.icon-gongyinglian:before {
  content: "\e94f";
}
.icon-jjfa:before {
  content: "\e950";
}
.icon-liucheng:before {
  content: "\e952";
  color: #6f7073;
}
.icon-ly:before {
  content: "\e953";
}
.icon-neirongfanjiechi:before {
  content: "\e954";
  color: #6f7073;
}
.icon-tuxiangshuiyin:before {
  content: "\e956";
  color: #6f7073;
}
.icon-zhangbentongbu:before {
  content: "\e957";
  color: #6f7073;
}
.icon-zhinengheyue:before {
  content: "\e958";
  color: #6f7073;
}
.icon-cuowu:before {
  content: "\e937";
}
.icon-wancheng2:before {
  content: "\e930";
  color: #5b5e63;
}
.icon-tixing2:before {
  content: "\e931";
  color: #5b5e63;
}
.icon-wancheng1 .path1:before {
  content: "\e932";
  color: rgb(91, 94, 99);
}
.icon-wancheng1 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tixing1 .path1:before {
  content: "\e934";
  color: rgb(91, 94, 99);
}
.icon-tixing1 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(91, 94, 99);
}
.icon-tixing1 .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-popupclose .path1:before {
  content: "\e92e";
  color: rgb(243, 243, 243);
}
.icon-popupclose .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(126, 126, 126);
}
.icon-jinzhi:before {
  content: "\e924";
}
.icon-tijiao:before {
  content: "\e92b";
}
.icon-tixing:before {
  content: "\e92c";
}
.icon-wancheng:before {
  content: "\e92d";
}
.icon-yanfa:before {
  content: "\e916";
}
.icon-chuangxin:before {
  content: "\e923";
}
.icon-zixun:before {
  content: "\e915";
}
.icon-huangguan:before {
  content: "\e929";
}
.icon-shuaxin:before {
  content: "\e910";
}
.icon-X:before {
  content: "\e911";
  color: #7e7e7e;
}
.icon-333:before {
  content: "\e900";
}
.icon-666:before {
  content: "\e901";
}
.icon-111:before {
  content: "\e902";
}
.icon-555:before {
  content: "\e903";
}
.icon-444:before {
  content: "\e904";
}
.icon-222:before {
  content: "\e905";
}
.icon-feiji:before {
  content: "\e906";
}
.icon-qiandai:before {
  content: "\e907";
}
.icon-qian:before {
  content: "\e908";
}
.icon-hudun:before {
  content: "\e909";
}
.icon-shouye:before {
  content: "\e90a";
}
.icon-yunzhuji:before {
  content: "\e90b";
}
.icon-zhanghuguanli:before {
  content: "\e90c";
}
.icon-feiyongzhongxin:before {
  content: "\e90d";
}
.icon-gongxiang:before {
  content: "\e90e";
}
.icon-yunfuwu:before {
  content: "\e90f";
}
.icon-jiangbei:before {
  content: "\e927";
}
.icon-zuanshi:before {
  content: "\e928";
}
.icon-triangle:before {
  content: "\e921";
}
.icon-close:before {
  content: "\e922";
}
.icon-open:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e920";
}
.icon-shangchuan:before {
  content: "\e918";
}
.icon-dowdload:before {
  content: "\e919";
}
.icon-message:before {
  content: "\e91a";
}
.icon-duidui:before {
  content: "\e91b";
}
.icon-tuceng:before {
  content: "\e91c";
}
.icon-gogogo:before {
  content: "\e91d";
}
.icon-sousuo:before {
  content: "\e91e";
}
.icon-run:before {
  content: "\e912";
  color: #68a9ff;
}
.icon-saoba:before {
  content: "\e913";
  color: #68a9ff;
}
.icon-shutdown:before {
  content: "\e914";
  color: #fea2a2;
}
.icon-logo:before {
  content: "\e95a";
}
